
<div class="app-header navbar-md white box-shadow">
        <div class="navbar navbar-toggleable-sm flex-row align-items-center">
        <a data-toggle="collapse" data-target="#navbar-4" class="navbar-item pull-right hidden-md-up m-0 m-l">
          <i class="material-icons">&#xe5d2;</i>
        </a>
        <%= render 'shared/navbar_brand'%>
        <!-- navbar collapse -->
        <div class="collapse navbar-collapse" id="navbar-4" data-pjax>
           <%= render 'shared/navbar_form' %>  
          <!-- link and dropdown -->
          <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href data-toggle="dropdown">
                <span class="nav-text">Features</span>
              </a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" ui-sref="app.inbox.compose">
                   <span>Tracking</span>
                  </a>
                  <a class="dropdown-item" ui-sref="app.todo">
                    <span>Classifying</span>
                  </a>
                  <a class="dropdown-item" ui-sref="app.note.list">
                    <span>Reporting</span>
                  </a>
              </div>
            </li>

            <li class="nav-item">
              <a href="dashboard.4.html" class="nav-link" ui-sref="app.dashboard" ui-sref-active="active">
                <span class="nav-text">Teams</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard.4.html" class="nav-link" ui-sref="app.dashboard" ui-sref-active="active">
                <span class="nav-text">Pricing</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard.4.html" class="nav-link" ui-sref="app.dashboard" ui-sref-active="active">
                <span class="nav-text">About Us</span>
              </a>
            </li>
           
            
          </ul>
          <!-- / link and dropdown -->
        </div>

        <!-- / navbar collapse -->
             
                      <!-- nabar right -->
                      <ul class="nav navbar-nav ml-auto">
                        <% if (!user_signed_in?) %>

                        <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-fw white" %></li>

                       
                        <li><%= link_to "Sign in", new_user_session_path, class: "btn btn-info"%></li>


                    
                      
                       <% else %>
                                 

                        <li class="nav-item">
                          <a class="nav-link" ui-fullscreen>
                            <span><i class="fa fa-fw fa-arrows-v"></i></span> 
                          </a>
                        </li>
                        <li class="nav-item dropdown">
                          <a href class="nav-link" data-toggle="dropdown">
                            <i class="material-icons">&#xe5c3;</i>
                            <span class="label up p-0 accent"></span>
                          </a>
                            <%= render 'shared/dropdown_grid' %>
                        </li>
                        <li class="nav-item dropdown">
                          <a href class="nav-link" data-toggle="dropdown">
                            <i class="material-icons">&#xe7f5;</i>
                            <span class="label up p-0 warn"></span>
                          </a>
                            <%= render 'shared/dropdown_notification' %>
                        </li>
                        <li class="nav-item dropdown">
                          <a href class="nav-link p-0 pl-2 clear" data-toggle="dropdown">



                           




                            <span class="avatar w-32">

                                
                                 <img src="/assets/images/fallback/default-image.gif" class="img-circle img-sm" alt="User Image"><span class="caret"></span>
                
                              

                              <i class="busy b-white right"></i>
                            </span>
                          </a>
                            <%= render 'shared/dropdown_user' %>
                        </li>
                        <% end %>
                      </ul>
                      <!-- / navbar right -->
         
                    
    </div>

 </div>