
<p id="notice"><%= notice %></p>

<div class="box">
    <div class="box-header">
      <h3>Orders Sheet List:</h3>
    </div>


<div class="table-responsive">

      <table class="table table-striped b-t">

        <thead>
          <tr>
            <th style="width:20px;">
              <label class="ui-check m-0">
                <input type="checkbox" class="has-value"><i></i>
              </label>
            </th>
            <th>Title</th>
            <th>Price</th>
            <th colspan="3"></th>
            
          </tr>
        </thead>
        <tbody>


		<% @order_items.each do |item| %>
		<tr>

		    <td><label class="ui-check m-0"><input type="checkbox" name="post[]" class="has-value"><i class="dark-white"></i></label></td>
	        <td><%= item.product.title %></td>
	        <td><%= item.product.price %></td>
	        <td> 

		    <%= form_for item, remote: true do |f| %>



		        <%= f.hidden_field :product_id, :value => item.product.id %>
		        <%= f.number_field :quantity, :value => item.quantity.to_i %>
		        <%= f.submit "Update Item "%>

		        <%= link_to "Remove Items", order_item_path(item), method: :delete, remote: true%>

		    <% end %>
		    </td>
		    <td>
    <p>Subtotal: <%= item.total %></p>
        	</td>

		</tr>



<% end %>
</tbody>
</table>

<div class="box-header">
<p>Your current card value has a subtotal of: <%= current_order.subtotal %></p>
</div>
</div>

</div>
