<!DOCTYPE html>
<html>
  <head>
    <title>ibeacons.com| Mileage Tracker App by Driversnote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


 <meta charset="utf-8">
  <meta name="description" content="Admin, Dashboard, Bootstrap, Bootstrap 4, Angular, AngularJS">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="/assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="/assets/images/logo.png">
  
  <!-- style -->
  <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />

 <!-- <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" /> -->
  <!-- build:css ../assets/styles/app.min.css -->
  <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/
5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css?
family=Muli:300,400,500,600,700,800&display=swap" rel="stylesheet">




  </head>

 <body class="pace-done" ui-class="">
  <div id="content" class="app-content box-shadow-z0" role="main">  



    <!-- Devise notification styled with bootstrap -->
<% if notice %>
<div class="notice alert alert-success alert-dismissible fade show"
role="alert">
<%= notice %>
<button type="button" class="close" data-dismiss="alert" aria-
label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<% elsif alert %>
<div class="danger alert alert-danger alert-dismissible fade show"
role="alert">
<p><%= alert %></p>
<button type="button" class="close" data-dismiss="alert" aria-
label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<% end %>



 
    <% if (request.original_url != root_url) && (current_page?(edit_user_registration_path)) then %> 
    

    <%= render 'shared/aside'%> 


    <% end %>

    <%= yield %>

</div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>

<!-- build:js scripts/app.html.js -->
<!-- jQuery -->
  <script src="/libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
  <script src="/libs/jquery/tether/dist/js/tether.min.js"></script>

<!-- core -->
  <script src="/libs/jquery/underscore/underscore-min.js"></script>
  <script src="/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  
  <script src="/scripts/config.lazyload.js"></script>

  <script src="/scripts/palette.js"></script>
  <script src="/scripts/ui-load.js"></script>
  <script src="/scripts/ui-jp.js"></script>
  <script src="/scripts/ui-include.js"></script>
  <script src="/scripts/ui-device.js"></script>
  <script src="/scripts/ui-form.js"></script>
  <script src="/scripts/ui-nav.js"></script>
  <script src="/scripts/ui-screenfull.js"></script>
  <script src="/scripts/ui-scroll-to.js"></script>
  <script src="/scripts/ui-toggle-class.js"></script>

  <script src="/scripts/app.js"></script>

  <!-- ajax -->
  <script src="/libs/jquery/jquery-pjax/jquery.pjax.js"></script>
  <script src="/scripts/ajax.js"></script>
<!-- endbuild -->
<div class="flotTip" style="display: none; position: absolute;"></div>

  </body>
</html>
